*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body{
    background-color: antiquewhite;

}

.box-field{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration:underline;
}

.box-field p{
    font-size: x-large;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: red;
}